Repository sablier-labs/benchmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --write"
"*.sol":
  - "bun solhint contracts/**/*.sol --fix --noPrompt"
  - "forge fmt"

feat: add benchmark code for Flow
  README.md
  bun.lockb
  contracts/flow/Benchmark.sol
  contracts/lockup/BatchLockup.sol
  contracts/lockup/Benchmark.sol
  contracts/lockup/LockupDynamic.sol
  contracts/lockup/LockupLinear.sol
  contracts/lockup/LockupTranched.sol
  foundry.toml
  package.json
  results/flow/SablierFlow.md
  results/lockup/SablierBatchLockup.md
  results/lockup/SablierLockup_Dynamic.md
  results/lockup/SablierLockup_Linear.md
  results/lockup/SablierLockup_Tranched.md
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

build: update lockup and flow dep
  bun.lockb
Due: none

build: exact versions for sablier deps
  .editorconfig
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  bun.lock
  bun.lockb
  foundry.toml
  package.json
  remappings.txt
Due: prettier --write

refactor: move contracts to "src"
  .env.example
  .lintstagedrc.yml
  foundry.toml
  package.json
  results/flow/SablierFlow.md
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: throw error when chainId != 1
  src/flow/Benchmark.sol
  src/lockup/Benchmark.sol
Due: bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

feat: instrumentation logs
  .solhint.json
  .vscode/settings.json
  bun.lock
  package.json
  results/flow/SablierFlow.md
  results/flow/sablier-flow.md
  results/lockup/SablierBatchLockup.md
  results/lockup/SablierLockup_Dynamic.md
  results/lockup/SablierLockup_Linear.md
  results/lockup/SablierLockup_Tranched.md
  results/lockup/sablier-batch-lockup.md
  results/lockup/sablier-lockup-dynamic.md
  results/lockup/sablier-lockup-linear.md
  results/lockup/sablier-lockup-tranched.md
  scripts/format-numbers.js
  src/Logger.sol
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: address shub's feedback
  .lintstagedrc.yml
  package.json
  src/flow/Benchmark.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

build: add solady as dep
  bun.lock
  package.json
Due: prettier --write

build: bump dependencies
  bun.lock
  package.json
  src/flow/Benchmark.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: clearer table structure
  foundry.toml
  results/flow/flow.md
  results/flow/sablier-flow.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  results/lockup/sablier-batch-lockup.md
  results/lockup/sablier-lockup-dynamic.md
  results/lockup/sablier-lockup-linear.md
  results/lockup/sablier-lockup-tranched.md
  scripts/format-numbers.js
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: remove title from results
  README.md
  results/flow/flow.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

chore: fix
  package.json
  src/flow/Benchmark.sol
  src/lockup/Benchmark.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: shub's feedback
  package.json
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: restructure code (#6)
  .editorconfig
  .env.example
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .solhint.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  bun.lock
  bun.lockb
  contracts/flow/Benchmark.sol
  contracts/lockup/BatchLockup.sol
  contracts/lockup/Benchmark.sol
  contracts/lockup/LockupDynamic.sol
  contracts/lockup/LockupLinear.sol
  contracts/lockup/LockupTranched.sol
  foundry.toml
  package.json
  remappings.txt
  results/flow/SablierFlow.md
  results/flow/flow.md
  results/lockup/SablierBatchLockup.md
  results/lockup/SablierLockup_Dynamic.md
  results/lockup/SablierLockup_Linear.md
  results/lockup/SablierLockup_Tranched.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  scripts/format-numbers.js
  src/Logger.sol
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: use local vars for gasUsed and config
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

chore: rename to solhint:fix
  .lintstagedrc.yml
  package.json
Due: prettier --write

chore: rename lint:check to check
  package.json
Due: prettier --write

chore: fix repository format
  package.json
Due: prettier --write

build: setup devkit
  .env.example
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierrc.js
  .prettierrc.yml
  bun.lock
  foundry.toml
  justfile
  package.json
  src/flow/Benchmark.sol
  src/lockup/Benchmark.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: run benchmark on latest versions feat: add fee on withdraw related functions build: add evm-utils dependency feat: format-numbers script warns when file is not found chore: update solhint
  .solhint.json
  bun.lock
  package.json
  results/flow/flow.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  scripts/format-numbers.js
  src/Logger.sol
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: inherit from BaseTest refactor: use WETH for Lockup benchmarks
  foundry.toml
  results/flow/flow.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

script: update full-write recipe
  justfile
Due: none

chore: remove solady
  bun.lock
  package.json
Due: prettier --write

ci: add lint and build workflow
  .github/workflows/ci.yml
Due: prettier --write

revert: 2f9d68cdeac4a113b97aa4f6859b86377d30ea38
  bun.lock
  package.json
Due: prettier --write

build: setup devkit (#11)
  .env.example
  .github/workflows/ci.yml
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierrc.js
  .prettierrc.yml
  bun.lock
  foundry.toml
  justfile
  package.json
  src/flow/Benchmark.sol
  src/lockup/Benchmark.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

chore: bump evm utils
  bun.lock
  foundry.toml
  package.json
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

revert: importing types
  src/lockup/BatchLockup.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

Add benchmark for latest protocol releases (#12)
  .solhint.json
  bun.lock
  package.json
  results/flow/flow.md
  results/lockup/batch-lockup.md
  results/lockup/lockup-dynamic.md
  results/lockup/lockup-linear.md
  results/lockup/lockup-tranched.md
  scripts/format-numbers.js
  src/Logger.sol
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: prefix immutable string variable with IMM chore: remove var-name-mixedcase from solhint configuration
  .solhint.json
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt

refactor: prefix immutable string variable with IMM (#13)
  .solhint.json
  src/flow/Benchmark.sol
  src/lockup/BatchLockup.sol
  src/lockup/Benchmark.sol
  src/lockup/LockupDynamic.sol
  src/lockup/LockupLinear.sol
  src/lockup/LockupTranched.sol
Due: prettier --write, bun solhint contracts/**/*.sol --fix --noPrompt, forge fmt
